Stopwatch {
	layout: horizontal;
	min-width: 50;
	background: $boost;
	margin: 1;
	padding: 1;
	height: 5;
}

#start {
	dock: left;
}

#stop {
	dock: left;
	display: none;
}

#reset {
	dock: right;
}
